<%- include('header') -%>
  <%- include('menu') -%>

    <h1>Knight
      <% if(typeof knight==='undefined' ) { %>
        Creation
        <% }else{ %>
          Rename
          <% }%>
    </h1>
    <% if(!(typeof knight==='undefined' )){ %>
      <h2>
        <%= knight.name %>
      </h2>
      <% } %> 
<div class="container">
  <div class="row">
    <div class="col-6 bg-light align-self-auto m-auto mt-5">
      <form method="POST">
        <div class="text-center">
          <h2><% if(typeof error !== 'undefined') { %> <%= error %>  <% } %> </h2>
        </div>
        <div class="mb-3">
          <label for="knightName" class="form-label mt-2">Name:</label>
          <input id="knightName" name="knightName" type="text" class="form-control"
            value="<%= (typeof knight === 'undefined') ? '' : knight.name %>">
        </div>
        <div class="text-center">
          <input type="submit" class="btn-lg btn-primary mb-1" value="Save"/>
        </div>
        <div class="text-center">
          <a class="btn btn-sm btn-secondary" href="/village/view/<%= village._id %>">
          <i class="bi bi-arrow-return-left"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>
      <%- include('footer') -%>