<%- include('header') -%>
<%- include('menu') -%>

    <div>
        <h1>Name: <%= village.name %></h1> 
        <a href="/village/edit/1">Rename</a>
    </div>
    <p1> Materials: <%= village.materials %> </p1>
    <h2> Number of knights: <%= village.knights %></h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Options</th>
        </tr>
        <% knights.forEach(function(knight) { %> 
        <tr>
            <td>
                <%= knight.name %>     
            </td>
            <td>
                <%= knight.xp %> 
            </td>
            <td allign='center'><a href="/knight/:villageid/<%= knight._id %> /edit">Rename</a>|<a href="/village/view/1">Delete</a></td>
        </tr>
        <% }); %> 
    </table>
    <h2>Actions</h2>
    <div class = "Links">
        <a href="/village/addknight/1">Create New Knight (50 Material)</a>
        <a href="/attack/1">Attack</a>
    </div>
<%- include('footer') -%>