<%- include('header') -%>
    <%- include('menu') -%>

        <div class="container align-self-center">
            <div class="row text-black-50">
                <div class="col-sm mt-4">
                    <h1>Your villages</h1>
                    <a href="/village/new" class="btn btn-primary">Create new village</a>
                </div>
                <table class="table table-hover table-striped table-bordered bg-light caption-top mt-4">
                    <tr>
                        <th>Name</th>
                        <th>Raw Materials</th>
                        <th>Number of knights</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                    <% villages.forEach(function(village) { %>
                        <tr>
                            <td>
                                <%= village.name %>
                            </td>
                            <td>
                                <%= village.materials %>
                            </td>
                            <td>
                                <%= village.knights %>
                            </td>
                            <td>
                                <a class="btn btn-info" href="/village/view/<%= village._id %>">View</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/village/del/<%= village._id %>">Delete</a>
                            </td>
                        </tr>
                        <% }); %>
                    </table>
        </div>
        </div>
        <%- include('footer') -%>