<%- include('header') -%>
<%- include('menu') -%>

    <div>
        <h1>Name: <%= village.name %></h1> 
        <a href="/village/edit/<%= village._id %>">Rename</a>
    </div>
    <h2> Materials: <%= village.materials %> </h1>
    <h2> Number of knights: <%= village.knights %></h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Options</th>
        </tr>
        <% knights.forEach(function(knight) { %> 
        <tr>
            <td>
                <%= knight.name %>     
            </td>
            <td>
                <%= knight.xp %> 
            </td>
            <td allign='center'><a href="/knight/<%= village._id %>/<%= knight._id %>/edit">Rename</a>|<a href="/knight/<%= village._id %>/<%= knight._id %>/del">Delete</a></td>
        </tr>
        <% }); %> 
    </table>
    <h2>Actions</h2>
    <div class = "Links">
        <a href="/village/addknight/<%= village._id %>">Create New Knight (50 Material)</a>
        <a href="/attack/<%= village._id %>">Attack</a>
    </div>
<%- include('footer') -%>